@CHARSET "UTF-8";

/* This file is intended for visual styling only                              */
/* Any layout/spacing related css should go in auto-includes/layout.css       */
/* Beware that colors may be overridden by theme settings                     */

/* ------------------------------------------------------------------- Global */
body {
  font: 12px "arial";
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* -------------------------------------------------------------- Page header */
div#page-header div.header-container {
  background-position: left 90px;
  background-repeat: repeat-x;
}

/* ------------------------------------------------------------- Side columns */
div.side h1 {
  font-size: 18px;
}

div.side h2 {
  font-size: 16px;
}

div.side h3 {
  font-size: 14px;
}

div.side ul.menu li {
  border: 1px #efefef;
  border-style: none none solid none;
}

div.side ul.menu li.expanded {
  background: url('images/up.png') no-repeat 0px 1px;
}

div.side ul.menu li.collapsed {
  background: url('images/down.png') no-repeat 0px 1px;
}

div.side ul.menu li.leaf {
  list-style: none;
}

/* ----------------------------------------------------------- Content column */
div#content h1.title {
  font-size: 24px;
}

div#content h1 {
  font-size: 22px;
}

div#content h2 {
  font-size: 20px;
}

div#content h3 {
  font-size: 18px;
}

/* ------ Forms ------ */
select,textarea,input {
  background: #ffffff;
  border-width: 1px;
  color: #555555;
}

fieldset {
  border: 1px solid #eeeeee;
}

/* ------ Messages ------ */
div.messages {
  border: 1px solid;
}

div.messages ul li {
  border-bottom: 1px solid;
}

div.error {
  background: #ffaaaa;
  border-color: #dd4444;
  color: #cc1111;
}

div.error ul li {
  border-color: #cc0000;
}

div.status {
  background: #aaffaa;
  border-color: #44dd44;
  color: #11cc11;
}

div.status ul li {
  border-color: #44dd44;
}