@CHARSET "UTF-8";

/* ------------------------------------------------------------------- Global */

table {
  margin: auto;
  width: 95%;
}

table td {
  padding: 2px;
}

table caption {
  text-align: left;
}

.title {
  margin: 0px 0px 10px;
}

/* -------------------------------------------------------------- Page header */

div#page-header {
  height: 133px;
}

div#page-header div#logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

div#page-header div#shortcuts {
  position: absolute;
  right: 0px;
  top: 57px;
}

div#page-header div#shortcuts ul {
  margin: 0px;
  padding: 0px;
}

div#page-header div#shortcuts ul li {
  display: inline;
  margin: 0px;
  padding: 0px 10px 0px 10px;
}

div#page-header div#shortcuts {
  text-align: right;
}

div#page-header div#shortcuts ul li {
  list-style: none;
}

div#page-header div#reporting {
  position: absolute;
  top: 59px;
  left: 10px;
}

body.admin div#page-header div#reporting {
  display: none;
}

/* ------------------------------------------------------------- Side columns */

div.side ul.menu {
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 5px 0px 30px 0px;
}

div.side ul.menu li,div.side ul.menu li.expanded,div.side ul.menu li.collapsed
  {
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
}

div.side ul.menu li li {
  padding: 0px;
}

div.side ul.menu ul {
  margin-left: 10px;
}

div.side ul.menu a {
  display: block;
  padding-left: 15px;
  height: 15px;
}

/* ----------------------------------------------------------- Content column */

div#tabs {
  margin: 0px;
  padding: 0px;
}

div#page li#page-body ul.secondary li {
  padding: 0px 5px;
}

.node {
  padding-bottom: 20px;
}

/* ----------------------------------------------------------------- Messages */

div.messages {
  margin: 0px;
  padding: 20px;
}

div.messages ul {
  margin: 0px;
  padding: 0px;
}

div.messages ul li {
  list-style-image: none;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}