@CHARSET "UTF-8";

/* ------------------------------------------------------------------- Global */

div.border {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div#center,
div#page div#page-header,
div#page div#page-body,
div#page div#page-footer {
  position: relative;
}

/* -------------------------------------------------------- Float containment */
.float-localiser {
  float: left;
  width: 100%;
}

/* http://csscreator.com/?q=attributes/containedfloat.php */
ul.tabs:after,
.float-container:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0px;
  visibility: hidden;
  margin: 0px;
  padding: 0px;
}

ul.tabs,
.float-container {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* --------------------------------------------------------- System overrides */
div.admin div.left,div.admin div.right {
  margin: 0px;
}

div#admin_menu,
div#admin-menu {
  position: fixed;
}